.add-story-container {
    margin-top: 30vh;
    padding: 40px;
    font-family: Arial, sans-serif;
    background-color: #DEC1A9;
    min-height: 100vh;
    width: 600px;
  }
  
  .add-story-title {
    text-align: center;
    font-size: 2rem;
    color: #6b4423;
    margin-bottom: 20px;
  }
  
  .add-story-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .book-cover-section {
    flex: 1;
    text-align: center;
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    height: 300px;
    width: 300px;
  }
  
  .cover-upload-label {
    font-size: 1.2rem;
    color: #6b4423;
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
  }
  
  .plus-sign {
    font-size: 3rem;
    display: block;
    color: #6b4423;
  }
  
  .book-details-section {
    flex: 2;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    color: #6b4423;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #6b4423;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .submit-btn:hover {
    background-color: #55371a;
  }
  