.browse-page {
  font-family: "Arial, sans-serif";
  background-color: #f4e7dc;
  padding: 1px 10px; /* Uniform padding */
  margin-top: 70vh;
}

.top-search {
  display: flex;
  justify-content:center;
  gap: 10px;
  margin-bottom: 10px; /* Space under search */
}

.search-bar {
  width: 250px;
  padding: 10px;
  border: 0.5px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
}

.search-btn {
  background-color: #4f372d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.filters{
  font-size: 24px;
  
}
.filter-options {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 20px 10px;
  font-size: 24px;
  padding: 20px 10px;
  
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Dynamic grid */
  gap: 20px;
  margin-top: 30px;
}

.books-grid h4 {
  margin: 0;
}
